/*@import url('reset.css');
@import url('media quiry.css');*/

@import url('../icons/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Suranna');

.nav-container { 
    height: 52px; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;

}

   .menu-top li a {
        color: #C3922E;
        letter-spacing: 0.5px;
        list-style: none;
        text-decoration: none;
        font-family:'Open Sans', sans-serif;
        padding: 0 10px;
    }

.menu-top li {
     display: inline-block;  
    }
    
.menu-top a:hover {
        opacity: 0.5;
    }
    
.toogle, [id^="drop"] {
  display: none; }

.heading {
    position: absolute;
    right: 60px;
    bottom: 70px;
    z-index: 1;
    text-align: center;
    color: #fff;
}


.title {
    font-family: 'Suranna', serif;
    font-size: 60px;
    max-width: 400px;
    letter-spacing: 3px;
    color: #fff;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 23px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #fff;
}

.bannerbutton {
    display: flex;
    justify-content: center;
}

.bannerbutton a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 15px;
    display: block;
    margin-bottom: 20px;
}

.header-widget img {
    width: 100%;
}

/*.home-banner video {
width: 150%;
height: 716px;
}
*/
.img img {
        width: 100%;
        height: auto;
        text-align: center;
        overflow-x: hidden;
    } 

.img {
   text-align: center;
}

/*HER LEGACY SECTION*/

.col-dk-6 {width: 50%;}

.legacy-img {
    padding: 0;
    margin: 0;
    text-align: center;
   
}
.section {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
   /* height: 100vh;*/
}

.wrap {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap h2  {
    font-family: 'Suranna', serif;
    font-size: 4vw;
    color: #C3922E;
    padding-bottom: 30px; 
}

.wrap p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 30px;
    font-weight: 200;
    line-height: 1.7;
    max-width: 65%;
}

.legacy-btn {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.legacy-btn a {
    display: inline-block;
    border: 1px solid #C3922E;
    padding: 5px 15px;
    color: #C3922E;
    text-decoration: none;
}

.legacy-btn a:nth-child(1) {
    color: #fff;
    background-color: #C3922E;
    margin-right: 20px;
}
/*
footer section*/

.footer-nav { 
    height: 52px; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;

}

   .footer-nav li a {
        color: #C3922E;
        letter-spacing: 0.5px;
        list-style: none;
        text-decoration: none;
        font-family:'Open Sans', sans-serif;
        padding: 0 10px;
    }

.footer-nav li {
    display: inline-block;    
}
    
.footer-nav a:hover {
    opacity: 0.5;
}

.footer-nav ul li a {
    color: #fff;
    font-weight: 300;

}

.footer-nav {
    background-color: #C3922E;
    height: 70px;
    bottom: 0;
}

.icons .fa {
  color: #fff;
}

.icons .fa:hover {
  opacity: 0.5
}

.icons {
    line-height: 5px;
    left: 25px;
    position: absolute;
}

.icons .fa {
    font-size: 30px;
    letter-spacing: 20px;
}

.admin-footerinfo ul li {
    list-style: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

.admin-footerinfo ul li a {
        color: black;
        list-style: none;
        text-decoration: none;
}

.admin-footerinfo ul {
    text-align: center; 
    line-height: 70px;
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: black;
    line-height: 70px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 300
        list-style: none;
    text-decoration: none;
}

/*ABOUT WHITNEY PAGE*/

.heading-content {
    background-color: #C3922E;
    opacity: 0.9;
    padding: 20px 20px;
}

/*WHITNEY ALBUMS PAGE*/

.h3 {
    position: absolute;
    left: 0;
    padding: 20px;
}


.h3 h3 {
    font-family: 'Suranna', serif;
    font-size: 3vw;
    color: #C3922E; 
}

.album-pic {
    padding: 20px 0;
}

.h4 h4 {
    font-family: 'open Sans', sans-serif;
    font-size: 16px;
    color: #C3922E; 
    letter-spacing: 1;
}
.album-container {
    width: 200px;
    text-align: center;

}

.album-article {
    padding: 50px 0;
    
    float: left;
    text-align: center;
        margin: 0 auto;

}

.clearfix {
    clear: both;
}


.buy-btn {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-align: left;
    color: #C3922E;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.buy-btn a {
    display: inline-block;
    border: 1px solid #C3922E;
    padding: 5px 10px;
    color: #C3922E;
    text-decoration: none;
}

.buy-btn a:nth-child(1) {
    color: #fff;
    background-color: #C3922E;
    margin-right: 10px;
}

.amount {
    margin-left: 10px;
    font-size: 20px;
}

/*contactpage*/
        #words{
            color:#000; 
             border: 1px solid #C3922E;
             height: 20px;
             width: 200px;
        }

       .msg-btn {
         border: none;
        color: white;
        padding: 5px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        text-decoration: none;
        background-color: #C3922E; 
        list-style: none;
        }

        .form {
            display: flex;
            align-items: center;
        }

        .contactinput{
            width: 260px;
            color:#000; 
            border: 1px solid #000;
            padding: 8px;
            margin: 10px 0;
        }

        .contact-textarea {
            width: 260px;
            color:#000; 
            border: 1px solid #000;
            padding: 8px;
            margin: 10px 0;
        }

  .wrap-contact {
    max-width: 50%;
  }      

.contact-heading {
    background-color: white;
    color: #000;
}

.contacttitle {
    color: #000;
}

.contactsubtitle {
    color: #000;
}


.bannerbuttoncontact a {
    color: #000;
    border: 1px solid #000;
}

.left-side img {
    width:100%;
}


div.blog_title_wit h2 {
    font-family: 'Suranna', serif;
    font-size: 4vw;
    color: #C3922E;
    padding-bottom: 30px; 
}

div.wp-menu-name {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;


}

div.blog_text_wit p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 30px;
    font-weight: 200;
    line-height: 1.7;
}
div .one-third {
    width: 100%;
    justify-content: center;
}

.blogcontain_wit {
display: flex;
flex-direction: column;
margin: 0 auto;
width: 100%;
text-align: center;
}

/*ABOUT PAGE*/

.section-fixed {
    display: inline-flex;
    width: 100%;
    height: auto;
}


.article-img {
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
    padding: 20px 0;
}

.article-text {
    display: flex;
   /* align-items: center;*/
    justify-content: center;
    width: 60%;
    align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.article-text h2  {
    font-family: 'Suranna', serif;
    font-size: 4vw;
    color: #C3922E;
    padding-bottom: 30px;
    max-width: 50%;
    text-align: center;
  }

.article-text p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 30px;
    font-weight: 200;
    line-height: 1.7;
    max-width: 65%;

}

